<div class="row  justify-content-center mt-3">

<h1 class='col-8'><%= t('tests.index.header') %></h1>

<table class="table table-hover table-dark table-bordered col-8">
  <caption><%= t('tests.index.header') %></caption>

  <thead class="thead-light">
    <tr>
      <th scope="col"><%= '#' %></th>
      <th scope="col"><%= t('.title') %></th>
      <th scope="col"><%= t('.level') %></th>
      <th scope="col"><%= t('.questions') %></th>
      <th scope="col"><%= t('.actions') %></th>
    </tr>
  </thead>
  <%= render @tests %>
</table>
</div>